body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 5rem;
}
div.contenedor {
  div.aqui {
    padding: 0 50px;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 2rem;
    img {
      width: 15rem;
    }
  }
  padding: 80px;
  box-sizing: border-box;
  width: 60rem;
  background: grey;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  text-align: center;
  border-radius: 20px;
  div.versus {
    font-size: 5rem;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-style: italic;
  }
}
button {
  background-color: #c0eef2;
  cursor: pointer;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #537fe7;
  }
}
